{% extends "base.html" %}

	{% block load_static %}
	{% load static %}
	{% endblock %}
	

{% block top %}							
							<h1>About us</h1>
{% endblock %}

{% block corps %}
	<div id="fh5co-about">
		<div class="container">
			<div class="about-content">
				<div class="row animate-box">
					<div class="col-md-6 col-md-push-6">
						<div class="desc">
							<h3>Histoire</h3>
							<p>Ce site a été créé dans le cadre d'un projet de développement WEB.</p>
							</div>
						<div class="desc">
							<h3>Mission &amp; Vision</h3>
							<p>Le projet découle d'un besoin et d'une volonté de plus en plus mis en évidence de partager. Nous voulions créer une plateforme d'accés à l'économie participative permettant de trouver et de partager des biens et services.</p>
							<p>L'objectif est que chacun puisse trouver ce qu'il cherche ou partagé ce qu'il veut à toute heures et de partout.</p>
						</div>
					</div>
					<div class="col-md-6 col-md-pull-6">
						<img class="img-responsive" src="{%static 'appPrincipale/images/Circles.png' %}" alt="about">
					</div>

				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>Productive Staff</span>
					<h2>Notre Staff</h2>
					<p>Groupe de travail ayant réaliser le site.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="{%static 'appPrincipale/images/Marian.jpg' %}" alt="Free HTML5 Templates by FreeHTML5.co">
						<h3>Marian Lapeyre</h3>
						<strong class="role">Chef de projet</strong>
						<ul class="fh5co-social-icons">
							<li><a href="https://github.com/mlapeyre73"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="{%static 'appPrincipale/images/Valentin.jpg' %}" alt="Free HTML5 Templates by FreeHTML5.co">
						<h3>Valentin Pereira</h3>
						<strong class="role"></strong>
						<ul class="fh5co-social-icons">
							<li><a href="https://github.com/ValiTox"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="{%static 'appPrincipale/images/Baptiste.jpg' %}" alt="Free HTML5 Templates by FreeHTML5.co">
						<h3>Baptiste Cauchard</h3>
						<strong class="role"></strong>
						<ul class="fh5co-social-icons">
							<li><a href="https://github.com/MrLeninstalock"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 col-sm-3 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="{%static 'appPrincipale/images/Thomas.jpg' %}" alt="Free HTML5 Templates by FreeHTML5.co">
						<h3>Thomas Rochette</h3>
						<strong class="role"></strong>
						<ul class="fh5co-social-icons">
							<li><a href="https://github.com/ThomasRochette"><i class="icon-github"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-5 col-md-push-1 animate-box">

					<div class="fh5co-contact-info">
						<h3><br>Contact Information</h3>
						<ul>
							<li class="address">6 Avenue des Arts, <br> INSA, Villeurbanne 69100 </li>
							<li class="phone"><a href="">+033 616 468 526</a></li>
							<li class="email"><a href="mailto:marian.lapeyre@insa-lyon.fr">marian.lapeyre@insa-lyon.fr</a></li>
							<li class="url"><a href="http://FreeHTML5.co">FreeHTML5.co</a></li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>


	<div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>About</h2>
					<p>Dans le cadre du projet nous avons choisi d'utiliser le framework Django car il fonctionne avec un pattern Modèle-Vue-Controlleur(MVC). Nous utilisons une base de données SQLite qui est implémenter dans le framework nous permettant de gérer les comptes utilisateurs ainsi que les biens et services disponibles.</p>
					<p>Il est possible de créer un compte utilisateur permettant de publier et administrer des nouveaux biens ou services. Il y a une gestion des commentaires sur les articles pour lesquels il faut être connecté. Les atricles sont triés pour l'affichage par catégorie, code postal.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

	
