<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Titre</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'appPrincipale/voirObjet.css' %}">
    </head>

    <body>

			<h1> Articles disponibles dans ma boutique </h1>
			<form id="id" action="{% url "ajouter_un_objet" %}" method="post">
					{% csrf_token %}
					<input type="submit" value="ajouter un Objet"/>
			</form>


			<form id="id" action="{% url "tout_supprimer" %}" method="get">
				{% csrf_token %}
				<input type="submit" value="Tout supprimer"/>
			</form>

				{% for objet in objets %}
				<div id='box_object'>

					<div id='box_img'>
						<h2>{{ objet.image }}</h2>
						<img src="{{objet.image.url}}" alt="mon image"/>
					</div>

					<div id='box_txt'>
						<h2>{{ objet.categorie }}</h2>
						<h2>{{ objet.nom }}</h2>
						<h2>{{ objet.description|truncatewords:10 }}</h2>
						<h2>{{ objet.id}}</h2>
					</div>
				<form id="id" action="{% url "supprimer_objet" %}" method="post">
				{% csrf_token %}
					<input type="hidden" name="return_objet" value={{objet.id}} />
					<input type="submit" value="Supprimer"/>
				</form>

				<form id="id" action="{% url "ajouter_un_objet" %}" method="get">
				{% csrf_token %}
					<input type="hidden" name="return_objet" value={{objet.id}} />
					<input type="submit" value="modifier"/>
				</form>

        <form id="id" action="{% url "commenter_objet" %}" method="get">
				{% csrf_token %}
					<input type="hidden" name="return_objet" value={{objet.id}} />
					<input type="submit" value="Commenter"/>
				</form>
				</div>
				{% endfor %}



    </body>
</html>
