<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Adopte1Truc &mdash; Site de partage d'articles géolocalisés</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Site de partage d'articles géolocalisés" />
	<meta name="keywords" content="site, recherche, articles, objets, Adopte1Truc, localisé, proche, chercher, trouver" />
	<meta name="author" content="V.Pereira, M.Lapeyre, T.Rochette, B.Cauchard" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

	<!-- Animate.css -->
	{% load static %}
	<link rel="stylesheet" href="{%static 'appPrincipale/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{%static 'appPrincipale/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{%static 'appPrincipale/css/bootstrap.css' %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{%static 'appPrincipale/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{%static 'appPrincipale/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div class="fh5co-loader"></div>

	<div id="page">
	<nav class="fh5co-nav" role="navigation">

		<div class="container">
			<div class="row">
				<div class="col-xs-5 text-right menu-1">
					<ul>
						<li><a href="/accueil/work">Tous les articles</a></li>
						<li><a href="/accueil/about">Profil</a></li>
						<li class="has-dropdown">
							<a href="/accueil/services">Accueil</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-2 text-center">
					<div id="fh5co-logo"><a href="/accueil/index">UnTruc</a></div>
				</div>
				<div class="right-menu text-left menu-1">
					<ul>
						{% if request.user.is_authenticated %}
								<li><a href="/accueil/logout/">Déconnexion</a></li>
						{% else %}
								<li><a href="/accueil/blog">Connexion</a></li>
						{% endif %}
						<li class="has-dropdown">
							<a href="/accueil/inscription">Inscription</a>
						</li>
						<li><a href="/accueil/contact">Ajouter un article</a></li>
					</ul>
				</div>
			</div>

		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({%static 'appPrincipale/images/partage.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Consulter une annonce</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	{% if envoie %}
		<div id="fh5co-services" class="fh5co-bg-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<span class="icon">
								<i class="icon-eye"></i>
							</span>
							<h3>Votre commentaire a bien été ajouté!</h3>

						</div>
					</div>
				</div>
			</div>
	</div>
	{% endif %}
	<div id="fh5co-about">
		<div class="container">
			<div class="about-content">
				<div class="row animate-box">
					<div class="col-md-6 col-md-push-6">




						<div class="desc">
							<h3 class="art_popup"> {{objet.nom}}</h3>
							<p>{{objet.description}}</p>
						</div>

						{% if peut_commenter %}
							 <form id="id" action="{% url "commentaire" %}" method="get">
								{% csrf_token %}
								<input type="hidden" name="objet_id" value={{objet.id}} />
								<button type="submit" class="btn btn-primary">Laisser un commentaire</button>
							</form>
						{% endif %}
						{% if peut_supprimer %}
							 <form id="id" action="{% url "about" %}" method="post">
								{% csrf_token %}
								<input type="hidden" name="objet_id" value={{objet.id}} />
								<button type="submit" class="btn btn-primary">Supprimer l'article</button>
							</form>
						{% endif %}

						<div class="desc">
							<p>Article publié par {{objet.user.first_name}} {{objet.user.last_name}}</p>
							<p>mail : {{objet.user.email}}</p>
						</div>
							<div class="col-md-6 col-md-pull-6">
								<img class="img-responsive" src="{{objet_image}}" alt="about">
							</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-testimonial" style="background-image:url({%static 'appPrincipale/images/fond_comment.jpg' %});">
		<div class="overlay"></div>
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Commentaires liés à cet article</h2>
			</div>
		</div>
		<div class="container">
			{% for commentraire in commentaires %}

			<div class="row">
				<form id="id" action="{% url "supprimer_commentaire" %}" method="post">
					{% csrf_token %}
				<div class="col-md-4" >
					<div class="comment">
					<div class="box-testimony animate-box">
						<input type="hidden" name="objet_id" value="{{objet_id}}"/>
						<input type="hidden" name="commentaire_id" value="{{commentraire.id}}"/>
						<blockquote>
							<span class="quote"><span><i class="icon-quote"></i></span></span>
							<p>&ldquo;{{commentraire.contenu}}&rdquo;</p>
						</blockquote>
						<p class="author" >{{commentraire.titre}}</p>
						<button type="submit" class="btn btn-primary">Supprimer</button>
					</div>
				</div>
				</div>
			</form>

			</div>
			{% endfor %}
		</div>

	</div>
	<div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Vous voulez créer votre propre annonce?</h2>
					<p>Rejoignez UnTruc ou connectez-vous pour avoir accès à toutes les fonctionnalités présentes sur le site</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2">
					<form action="/accueil/blog" class="form-inline">
						<div class="col-md-6 col-md-offset-3 col-sm-6">
							<button class="btn btn-default btn-block">Se connecter</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 col-sm-4 col-xs-0 text-center">
					<ul class="fh5co-footer-links">
						<li><a href="/accueil/apropos/">About us et contact</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-0 text-center">
					<ul class="fh5co-footer-links">
						<li><a href="/accueil/terms/">Terms, CGU</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-0 text-center">
					<ul class="fh5co-footer-links">
						<li><a href="/accueil/index/">Index</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2017 Adopte1Truc. All Rights Reserved.</small>
						<small class="block">Designed by V.Pereira, M.Lapeyre, B.Cauchard, T.Rochette</a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{%static 'appPrincipale/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{%static 'appPrincipale/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{%static 'appPrincipale/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{%static 'appPrincipale/js/jquery.waypoints.min.js' %}"></script>
	<!-- Main -->
	<script src="{%static 'appPrincipale/js/main.js' %}"></script>

	</body>
</html>
