<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Adopte1Truc &mdash; Site de partage d'articles géolocalisés</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Site de partage d'articles géolocalisés" />
	<meta name="keywords" content="site, recherche, articles, objets, Adopte1Truc, localisé, proche, chercher, trouver" />
	<meta name="author" content="V.Pereira, M.Lapeyre, T.Rochette, B.Cauchard" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
	{% load static %}
	<!-- Animate.css -->
	<link rel="stylesheet" href="{%static 'appPrincipale/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{%static 'appPrincipale/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{%static 'appPrincipale/css/bootstrap.css' %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{%static 'appPrincipale/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{%static 'appPrincipale/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>

	<div class="fh5co-loader"></div>

	<div id="page">
	<nav class="fh5co-nav" role="navigation">

		<div class="container">
			<div class="row">
				<div class="left-menu text-right menu-1">
					<ul>
						<li class="active"><a href="/accueil/work">Tous les articles</a></li>
						<li><a href="/accueil/about">Profil</a></li>
						<li class="has-dropdown">
							<a href="/accueil/services">Accueil</a>
						</li>
					</ul>
				</div>
				<div class="logo text-center">
					<div id="fh5co-logo"><a href="/accueil/index">UnTruc</a></div>
				</div>
				<div class="right-menu text-left menu-1">
					<ul>
						{% if request.user.is_authenticated %}
								<li><a href="/accueil/logout/">Déconnexion</a></li>
						{% else %}
								<li><a href="/accueil/blog">Connexion</a></li>
						{% endif %}
						<li class="has-dropdown">
							<a href="/accueil/inscription">Inscription</a>
						</li>
						<li><a href="/accueil/contact">Ajouter un article</a></li>
					</ul>
				</div>
			</div>

		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({%static 'appPrincipale/images/partage.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Que recherchez vous ?</h1>
							<h2> Les résultats seront localisés au plus proche de vous</h2>
							<div class="row">
								<form class="form-inline" id="fh5co-header-subscribe" action="{% url "work" %}" method="post">
									{% csrf_token %}
									<div class="col-md-6 col-md-offset-3">
										<div class="form-group">

											<input type="text" class="form-control" id="article" placeholder="Nom de l'article..." name="Nom_Article">
											<input type="text" class="form-control" id="id_code_postal" placeholder="Code postal" name="code_postal">

											<label class="categorie">
											    Catégorie:
											    <span class="custom-dropdown custom-dropdown--white">
											        <select class="custom-dropdown__select custom-dropdown__select--white" name="Titre_Categorie">
																<option>Toutes</option>
																{% for categorie in categories %}
																<option>{{categorie.titre}}</option>
																{% endfor %}

											        </select>
											    </span>
											</label>

											<button type="submit" class="btn btn-default">Rechercher</button>
										</div>

									</div>

								</form>

							</div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</header>
	{% if commentaire_supprime %}
		<div id="fh5co-services" class="fh5co-bg-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<span class="icon">
								<i class="icon-eye"></i>
							</span>
							<h3>Votre commentaire a bien été supprimé!</h3>

						</div>
					</div>
				</div>
			</div>
	</div>
	{% endif %}

	<div style="overflow: auto" id="fh5co-project">
		<div class="container">
			<div class="row">
				{%if not objets %}
					<h3 class="wrong_connect">Aucun article ne correspond à vos recherches.</h3>
				{% else %}
				{% for objet in objets %}
				<form action="{% url "article" %}" method="post">
					{% csrf_token %}
					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">

							<input type="hidden" name="objet_id" value="{{objet.id}}"/>
							<!--<input type="hidden" name="article_nom" value="{{objet.nom}}"/>
							<input type="hidden" name="article_description" value="{{objet.description}}"/>
							<input type="hidden" name="article_categorie" value="{{objet.categorie}}"/>-->
							<input type="hidden" name="objet_image" value="{%static 'appPrincipale/images/work-4.jpg' %}"/>
							<input type="image" class="img-responsive" src="{%static 'appPrincipale/images/work-4.jpg' %}" alt="Submit"/>
							<div class="blog-text">
								<h3><a href="/accueil/article">{{objet.nom}}</a></h3>
								<span class="posted_on">{{objet.categorie}}</span>
								<span class="comment"><a href=""><i class="icon-speech-bubble"></i></a></span>
								<p>{{objet.description|truncatewords:20}}</p>
								<button type="submit" class="btn btn-primary">En savoir plus</button>
							</div>
						</div>
					</div>
				</form>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>


	<div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Vous voulez créer votre propre annonce?</h2>
					<p>Rejoignez UnTruc ou connectez-vous pour avoir accès à toutes les fonctionnalités présentes sur le site</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2">
					<form action="/accueil/blog" class="form-inline">
						<div class="col-md-6 col-md-offset-3 col-sm-6">
							<button type="submit" class="btn btn-default btn-block">Se connecter</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 col-sm-4 col-xs-0 text-center">
					<ul class="fh5co-footer-links">
						<li><a href="/accueil/apropos/">About us et contact</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-0 text-center">
					<ul class="fh5co-footer-links">
						<li><a href="/accueil/terms/">Terms, CGU</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-0 text-center">
					<ul class="fh5co-footer-links">
						<li><a href="/accueil/index/">Index</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2017 Adopte1Truc. All Rights Reserved.</small>
						<small class="block">Designed by V.Pereira, M.Lapeyre, B.Cauchard, T.Rochette</a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	<script>
	var goToArticle = function() {
		$('html, body').animate({scrollTop: $('#fh5co-project').offset().top}, 2000);
		};


	 if(window.attachEvent) {
		window.attachEvent('onload',goToArticle);
	} else {
		if(window.onload) {
				var curronload = window.onload;
				var newonload = function(evt) {
						curronload(evt);
						goToArticle(evt);
				};
				window.onload = newonload;
		} else {
				window.onload = goToArticle;
		}
	} </script>
	<!-- jQuery -->
	<script src="{%static 'appPrincipale/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{%static 'appPrincipale/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{%static 'appPrincipale/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{%static 'appPrincipale/js/jquery.waypoints.min.js' %}"></script>
	<!-- Main -->
	<script src="{%static 'appPrincipale/js/main.js' %}"></script>

	</body>
</html>
