{% extends "base.html" %}

	{% block load_static %}
	{% load static %}
	{% endblock %}
	
	


{% block fh5co-header %}
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({%static 'appPrincipale/images/partage.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Que recherchez vous ?</h1>
							<h2> Les résultats seront localisés au plus proche de vous</h2>
							<div class="row">
								<form class="form-inline" id="fh5co-header-subscribe" action="{% url "work" %}" method="post">
									{% csrf_token %}
									<div class="col-md-6 col-md-offset-3">
										<div class="form-group">

											<input type="text" class="form-control" id="article" placeholder="Nom de l'article..." name="Nom_Article">
											<input type="text" class="form-control" id="id_code_postal" placeholder="Code postal" name="code_postal">

											<label class="categorie">
											    Catégorie:
											    <span class="custom-dropdown custom-dropdown--white">
											        <select class="custom-dropdown__select custom-dropdown__select--white" name="Titre_Categorie">
																<option>Toutes</option>
																{% for categorie in categories %}
																<option>{{categorie.titre}}</option>
																{% endfor %}

											        </select>
											    </span>
											</label>

											<button type="submit" class="btn btn-default">Rechercher</button>
										</div>

									</div>

								</form>

							</div>

						</div>

					</div>
				</div>

			</div>
		</div>
	</header>
	{% endblock %}

{% block des_if %}
	{% if commentaire_supprime %}
		<div id="fh5co-services" class="fh5co-bg-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="feature-center animate-box" data-animate-effect="fadeIn">
							<span class="icon">
								<i class="icon-eye"></i>
							</span>
							<h3>Votre commentaire a bien été supprimé!</h3>

						</div>
					</div>
				</div>
			</div>
	</div>
	{% endif %}
	
{% endblock %}


{% block fh5co-projet %}
	<div style="overflow: auto" id="fh5co-project">
		<div class="container">
			<div class="row">
				{%if not objets %}
					<h3 class="wrong_connect">Aucun article ne correspond à vos recherches.</h3>
				{% else %}
				{% for objet in objets %}
				<form action="{% url "article" %}" method="post">
					{% csrf_token %}
					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">

							<input type="hidden" name="objet_id" value="{{objet.id}}"/>
							
							<input type="hidden" name="objet_image" value="{%static 'appPrincipale/images/work-4.jpg' %}"/>
							<input type="image" class="img-responsive" src="{%static 'appPrincipale/images/work-4.jpg' %}" alt="Submit"/>
							<div class="blog-text">
								<h3><a href="/accueil/article">{{objet.nom}}</a></h3>
								<span class="posted_on">{{objet.categorie}}</span>
								<span class="comment"><a href=""><i class="icon-speech-bubble"></i></a></span>
								<p>{{objet.description|truncatewords:20}}</p>
								<button type="submit" class="btn btn-primary">En savoir plus</button>
							</div>
						</div>
					</div>
				</form>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}



	
	{% block js %}
	<script>
	var goToArticle = function() {
		$('html, body').animate({scrollTop: $('#fh5co-project').offset().top}, 2000);
		};


	 if(window.attachEvent) {
		window.attachEvent('onload',goToArticle);
	} else {
		if(window.onload) {
				var curronload = window.onload;
				var newonload = function(evt) {
						curronload(evt);
						goToArticle(evt);
				};
				window.onload = newonload;
		} else {
				window.onload = goToArticle;
		}
	} </script>
	{% endblock %}
	
	
	

